@charset "utf-8";
/**
 * @author Matthias Reischer
 * Sample File CSS
 */

body {




}

.ui-page {

    background-image: url('/SmarterThanSmarties/image/5.png') !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center !important;

}

.ui-page-theme-a .ui-btn{
    background-color: transparent !important;
    border-radius: 0em !important;
    border: none !important;

}








