@charset "utf-8";
/**
 * @author Matthias Reischer
 * Sample File CSS
 */

body {




}

.ui-page {

    background-image: url('/SmarterThanSmarties/image/onboarding5.png') !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center !important;

}

.ui-btn{
    background: red;}

.ui-input-text, .ui-input-search{
    border-radius: 0em !important;
    margin-left: 40px;
    margin-right:40px;

    background: white !important;
    opacity: 0.3 !important;}

.ui-input-btn{
    background-color: #42DFF4 !important;
    border-radius: 0em !important;
    border: none !important;



}


