@charset "utf-8";
/**
 * @author Matthias Reischer
 * Sample File CSS
 */

body {
text-decoration: none !important;

   

}



.login{
    background-image: url('/SmarterThanSmarties/image/3.png') !important;

    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center !important; 

}

.onboarding1{
    background-image: url('/SmarterThanSmarties/image/4.png') !important;

    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center !important; 

}
.ui-input-text, .ui-input-search{
text-decoration: none !important;
    background: white !important;
    opacity: 0.3 !important;
}

.ui-input-btn{

    border-radius: 0em !important;
    border: none !important;
   
    
}
   

.ui-link{
    text-decoration:none !important;
}